.menu-ext{
    background-color: #2f2f2f;
    width: 1350px;
    height: 50px;
}

.menu-int{
    width: 990px;
    background-color: blue;
    margin-left: 180px;

}

.logo{
    width: 50%;
    float: left;
}

.menu-itens{
    float: right;
    width: 50%;
}

img{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 160px;
}

ul{
    list-style-type: none;
}

li{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 16px;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #f9ffff;
    font-size: 12px;
}

a:hover{
    margin-top: 0px;
    padding: 15px;
    background-color: #3580c1;
}

.banner-ext{
    background-color: #3479ba;
    height: 300px;
    width: 1350px;
    display: flex;
}


.banner-int-rigth{
    margin-left: 145px;
    background-color: red;
    height: 300px;
    width: 510px;
}

.foto{
    margin-right: 145px;
    background-color: yellow;
    height: 300px;
    width: 470px;
}


button{
    margin-top: 25px;;
    padding: 20px;
    background-color: #ffc001;
    width: 280px;
    height: 55px;
    border-radius: 8%;
}

.frase{
    margin-top: 65px;
    color: #050005;
}

.homem_foto{
    position: absolute;
    right: 305px;
    top: 53px;
}